@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Treat

<h2>Add a Flavor for @Html.DisplayFor(m => m.Name)</h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(m => m.TreatId)

  @Html.Label("Select A Falvor")
  @Html.DropDownList("FlavorId")

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("See All Treats", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>