@{
  Layout = "_Layout";
}
@model PierresTreats.Models.Treat
<h2>@Html.DisplayFor(model => model.Name) Details</h2>
@if(Model.JoinEntities.Count == 0)
{
  <h4>No Flavors Have Been Added</h4>
}
else
{
  <h4>Flavors</h4>
  <ul>
    @foreach(var join in Model.JoinEntities)
    {
      <li>@join.Flavor.Name</li>
    }
  </ul>
}
<p>@Html.ActionLink("Add A Flavor", "AddFlavor", new { id = Model.TreatId })</p>
<p>@Html.ActionLink("Edit Treat", "Edit", new { id = Model.TreatId })</p>
<p>@Html.ActionLink("Delete Treat", "Delete", new { id = Model.TreatId })</p>
<p>@Html.ActionLink("See All Treats", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>