@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Flavor

<h2>Add a Treat for @Html.DisplayFor(m => m.Name)</h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(m => m.FlavorId)

  @Html.Label("Select A Treat")
  @Html.DropDownList("TreatId")

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("See All Flavors", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>