@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Flavor
<h2>Edit @Html.DisplayFor(m => m.Name)</h2>
@using(Html.BeginForm())
{
  @Html.HiddenFor(m => m.FlavorId)
  @Html.LabelFor(m => m.Name)
  @Html.EditorFor(m => m.Name)
  <input type="submit" value = "Save Changes">
}
@foreach (var join in Model.JoinEntities)
{
  @using(Html.BeginForm("DeleteTreat", "Flavors"))
  {
    <li>@join.Treat.Name</li>
    @Html.Hidden("joinId", @join.FlavorTreatId)
    @Html.Hidden("FlavorId", Model.FlavorId)
    <input type="submit" value="Delete" class="btn btn-danger">
  }
}
<p>@Html.ActionLink("See All Flavors", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>